<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="HandheldFriendly" content="true">
  <title>Groll-cli</title>
</head>

<body>
	<div id="app" class="container">
		<c-header></c-header>
		<c-main></c-main>
	</div>
	<a class="back-top" href="#app">回到顶部</a>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="index.js"></script>
</body>

</html>